<html>
    <head>
        <link rel="stylesheet" href="static/style.css"></link>
        <title></title>
    </head>

    <body>
        <h1>Calculate Area and Perimeter of a Rectangle</h1>

        <form action="calculate">
        <table>
           
            <tr>
                <td>
                    Enter Length:
                </td>

                <td>
                    <input type="number" step="0.01" name="length" required>
                </td>
            </tr>

            <tr>
                <td>Enter Breadth:</td>
                <td>
                    <input type="number" step="0.01" name="breadth" required>
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <input type="submit" value="Calculate">
                </td>
            </tr>
        </table>
        </form>

    </body>
</html>